<div class="jumbotron">
    <h3>Добро пожаловать в каталог сервисов справочных данных Республики Казахстан.</h3>

</div>

<hr/>
<div id="workdays">
    <h4>Сервис "Рабочие дни"</h4>
    <p>Очень часто перед различными информационными системами встает задача расчета рабочих дней.</p>
    <p></p>
</div>